body {
  min-height: 100vh;
  background: var(--background-color);
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Fira Code', monospace, 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
